 .App {
  text-align: center;

} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #474e5d;
  padding-top: 90px;
  color: white;


}

.gradient-container {
  background:  rgba(95, 129, 160, 0.27); /* Replace the color codes with your desired colors */
  /* Other styles for the container */
  height: 100px; /* Example height */
  width: 100%; /* Example width */
}

.custom-bg {
  background-color:rgb(95, 129, 160);
  padding-top: 11px;
  margin: 0px;

}

.card {
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.752); /* Example shadow style, you can adjust values as needed */
}

.home-background {
  text-align: center;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.homepage-container {
  background-image: url('/public/images/Bar Harbor.jpg');
  background-size: cover;
  background-position: center;
  height: 100; 
  max-width: 100; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.466); /* Example shadow style, you can adjust values as needed */

}

.reviews-container {
  background-image: url('/public/images/ReviewsandUsers.jpg');
  background-size: cover;
  background-position: center;
  height: 100; 
  max-width: 100; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.466); /* Example shadow style, you can adjust values as needed */

}

.card:hover {
  transform: scale(1.05); /* Increase size on hover */
  transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.466); /* Example shadow style, you can adjust values as needed */
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color:rgb(95, 129, 160);
    align-items: center;
    padding: 0.7rem 2rem;
    overflow: hidden;
    z-index: 1;
    width: 100%; 
    margin: auto;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 1;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.462); /* Example shadow style, you can adjust values as needed */

}

.nav-link {
  font-size: larger;
}

.nav-link:hover{
  text-decoration: underline;
  text-decoration-color: white;
}